<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <form th:action="@{}" th:object="${}" method="post">
            <p>
                title: <input type="text" th:field="*{title}"/>
            </p>
            <p>
                description: <input type="text" th:field="*{description}"/>
            </p>
        </form>
    </body>

</html>
