<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>here there</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tasklist : ${tasklists}">
                    <td>
                        <a th:href="@{/tasklist(id=${tasklist.id})}"><span th:text="${tasklist.title}"/></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
    
    <p><a href="tasklistMgmt">Tasklist Management</a></p>
</html>
