<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </head>

    <body>
        Tasklist:
        <table>
            <tr>
                <th>here</th>
            </tr>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.title}">title
                </td>
            </tr>
        </table>
        
        <form th:action="@{/tasklist}" th:object="${taskForm}" method="post">
            <input type="hidden" th:field="*{tasklistId}"/>
            <p>
                title: <input type="text" th:field="*{title}"/>
            </p>
            <p>
                <input type="submit" value="Submit"/>
            </p>
        </form>
    </body>

</html>
